<section id="homepage">

<section class="search">
<h2>Welcome to the latest innovation in saving and sharing links.</h2><br><br>
<a href="/bookmarks" class="landing">GET STARTED</a><br><br><br><br><br><br>
</section>
</section>