<!DOCTYPE html>
<html>
<head>
  <title>Bookmarks App</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
</head>
<body>
<h3>Bookmarks App</h3>
<a href="/bookmarks">Home</a><br>
<%= yield %>

</body>
</html>