<!DOCTYPE html>
<html>
<head>
  <title>Bookmarker</title>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,300,700|Monda' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<div class="page-wrap">
  <header>
    <a href="/bookmarks" id="logo">BOOKMARKER</a>
    <nav>
      <ul>
        <li><a href="/bookmarks">Home</a></li>
        <li><a href="/bookmarks/new">New Bookmark</a></li>
      </ul>
    </nav>
  </header>
  <div class="main">

  <%= yield %>

  </div>
  </div>
  <footer>
    &copy; 2015 Beth Fraser
  </footer>

</body>
</html>