
<label for='bookmark_name'>Name:</label>
<input id='bookmark_name' type='text' name='bookmark[name]' value='<%= @bookmark.name%>' autofocus>
<label for='bookmark_url'>URL:</label>
<input id='bookmark_url' type='text' name='bookmark[url]' value='<%= @bookmark.url%>'>
<label for='bookmark_category'>Category:</label>
<input id='bookmark_category' type='text' name='bookmark[category]' value='<%= @bookmark.category%>'>



<div class="clear_both"></div>


