<section class="search"><h2>CREATE NEW BOOKMARK</h2></section>

<section class="form"><form action="/bookmarks" method="post">

  <%= erb :'bookmarks/_form'%>
  <button>Create Bookmark</button>

</form>
</section>