<h4>Results containing: '<%= params[:search]%>'</h4>

<% @result.each do |result| %>

Name: <%= result['name']%><br>
URL: <%= result['url']%><br>
Category: <%= result['category']%><br><br>

  <%end%>
  <br>
  
  <a href="/bookmarks">Go Back</a>